@{
    ViewBag.Title = "Home";
}

<h1>Home</h1>

<div class="box">
    Environment: @ViewBag.CurrentEnvironment
</div>

<Environment include="Development">
    <button class="button button-blue-back">Button only for Development Environment</button>
</Environment>

<Environment exclude="Development">
    <button class="button button-green-back">Button for non-Development Environments</button>
</Environment>