<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Home Page - My ASP.NET Application</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Home</h1>
        <div class="box">
            <div>@ViewBag.MyValue</div>
            <div>@ViewBag.MyKey</div>
        </div>
    </div>
</body>
</html>